*.aif lockable
*.aiff lockable
*.anim lockable
*.asset lockable
*.avi lockable
*.bmp lockable
*.fbx lockable
*.gif lockable
*.jpeg lockable
*.jpg lockable
*.m4v lockable
*.mat lockable
*.mov lockable
*.mp3 lockable
*.mp4 lockable
*.mpg lockable
*.mpeg lockable
*.ogg lockable
*.otf lockable
*.pdf lockable
*.png lockable
*.prefab lockable
*.psd lockable
*.sda lockable
*.sdf lockable
*.sdr lockable
*.tga lockable
*.tif lockable
*.tiff lockable
*.ttf lockable
*.unity lockable
*.wav lockable
*.webm lockable
